html{
	font-size: 62.5%;
	font-family: 'poppins', sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    color: black;
}
img{
    align-items: center;
    align-items: center;
    display: block;

}
div